# This file is here because many Platforms as a Service look for
#	requirements.txt in the root directory of a project.
Django==1.5.1
Jinja2==2.7.1
MarkupSafe==0.18
Pygments==1.6
South==0.8.1
Sphinx==1.2b1
astroid==1.0.0
bpython==0.12
coverage==3.6
dj-database-url==0.2.2
dj-static==0.0.5
django-braces==1.2.2
django-debug-toolbar==0.9.4
django-discover-runner==0.4
django-jenkins==0.14.1
django-model-utils==1.4.0
django-toolbelt==0.0.1
docutils==0.11
gunicorn==18.0
logilab-common==0.60.0
logutils==0.3.3
psycopg2==2.5.1
pylint==1.0.0
six==1.4.1
static==0.4
wsgiref==0.1.2
