# This file is here because many Platforms as a Service look for
#	requirements.txt in the root directory of a project.
Django==1.5.1
bpython==0.12
django-braces==1.2.2
django-model-utils==1.4.0
logutils==0.3.3
South==0.8.1
django-jenkins==0.14.1
coverage==3.6
django-discover-runner==0.4
django-debug-toolbar==0.9.4
Sphinx==1.2b1
django-discover-runner==0.4
